html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Blue: #4169e1 */

header {
    height: 35vh;
    background-color: #ffffff;
}

header img {
    margin: 1.25em 0 0 1.25em;
    width: 50vw;
    height: auto;
}