@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

header {
    height: 6em;
    background-color: #4169e1;
}

header img {
    margin: 1em 0 0 1.25em;
    height: 5em;
    width: auto;
    cursor: pointer;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2.5em 0 0;
}

header .wrapper ul {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

header .wrapper ul li {
    list-style: none;
}

header .wrapper ul li {
    color: #f7f7f7;
    font-size: 1.5rem;
    font-family: "Permanent Marker", "Cursive", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

header .wrapper ul a{
    text-decoration: none;
}

header .wrapper ul li:hover {
    color: #202020;
}

header .wrapper .burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

header .wrapper .burger .line {
    height: 5px;
    width: 45px;
    border-radius: 3px;
    background-color: #f7f7f7;
    margin-bottom: 5px;
}

@media only screen and (max-width: 990px) {
    header .wrapper ul {
        width: 50vw;
    }
}

@media only screen and (max-width: 760px) {
    header .wrapper ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 17vh;
        right: 50vw;
    }

    header .wrapper ul li {
        background-color: #4169e1;
        border: solid 1px #e0e2e9;
        padding: 5vh;
        width: 100vw;
        text-align: center;
        border-radius: 4px;
        align-self: center;
    }

    header .wrapper .burger {
        display: flex !important;
    }

    header .wrapper .moved {
        right: -85vw;
    }
}

/* TODO : Add class that allows you to move the things back into view
